body{
    background-color: beige;
}

.counter-container{
    text-align: center;
    font-family: Arial, sans-serif ;
}

.count-display{
    font-size: 10em;
    background-color: lightblue;
    margin-bottom: 0.4em;

}

.counter-button{
    width: 100px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover{
    background-color: lightcyan;
}